.codemirror[class*="cm-s-pcms"] {
  cursor: text;
  height: var(--codemirror-height);
  font-family: var(--chakra-fonts-mono);
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  width: 100%;
  min-width: 0px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: 1px solid;
  border-color: inherit;
  border-radius: var(--chakra-radii-md);
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);

  &[class*="CodeMirror-empty"] [class*="CodeMirror-lines"] {
    opacity: .6;
  }

  [class*="CodeMirror-lines"] {
    padding: var(--chakra-space-1);
  }

  [class*="CodeMirror-linenumbers"] {
    padding: var(--chakra-space-1);
    user-select: none;
  }
  [class*="CodeMirror-linenumber"] {
    user-select: none;
  }
  [class*="CodeMirror-gutters"] {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
  }

  &[class*="attached"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.md {
    font-family: var(--chakra-fonts-mono);
    font-kerning: none;
  }

  &:focus-within {
    box-shadow: 0 0 0 3px var(--chakra-colors-pgreen-300);
  }

  ::selection {
    background-color: var(--chakra-colors-pgreen-600);
  }

  [class*="CodeMirror-line"] {
    & > span[role="presentation"] {
      // display: flex;
      // width: 100%;
    }

    [cm-text=""] {
      display: inline-block;
    }

    [class*="cm-m-markdown"] {
      &[class*="cm-header"] {
        color: white;
        font-family: var(--chakra-fonts-heading);
        font-size: var(--chakra-fontSizes-md);
      }

      &[class*="cm-header-1"] { font-size: var(--chakra-fontSizes-2xl); }
      &[class*="cm-header-2"] { font-size: var(--chakra-fontSizes-xl); }
      &[class*="cm-header-3"] { font-size: var(--chakra-fontSizes-lg); }

      &[class*="cm-quote"] {
        display: inline-block;
        background-color: var(--chakra-colors-whiteAlpha-300);

        &:first-child, &%cm-quote-first {
          padding-left: 8px;
          border-left-width: 3px;
          border-left-style: solid;
          border-left-color: var(--chakra-colors-gray-500);
        }
        &:last-child {
          width: 100%;
        }
      }

      &[class*="cm-formatting"] {
        color: var(--chakra-colors-gray-500) !important;
      }
    }

    [class*="cm-m-yaml"] {
      color: var(--chakra-colors-green-200);
      &[class*="cm-meta"] { color: var(--chakra-colors-gray-400); }
      &[class*="cm-atom"] { color: var(--chakra-colors-orange-300); }
      &[class*="cm-keyword"] { color: var(--chakra-colors-orange-200); }
      &[class*="cm-number"] { color: var(--chakra-colors-yellow-300); }
      &[class*="cm-string"] { color: inherit; }
    }
  }

  // &:not(.preview) [class*="CodeMirror-line"] {
  //   [class*="cm-quote"] {
  //     &:first-child, &%cm-quote-first {
  //       padding-left: 8px;
  //       padding-right: 4px;
  //       border-left-width: 3px;
  //       border-left-style: solid;
  //       border-left-color: var(--chakra-colors-gray-800);
  //     }
  //   }
  // }

  &.preview {
    font-family: var(--chakra-fonts-body);

    [class*="CodeMirror-line"] {
      [class*="cm-quote"] {
        &:nth-child(2) {
          @extend %cm-quote-first;
          padding-right: 0;
        }
      }

      [class*="cm-formatting"]:not([class*="cm-formatting-list"]) {
        display: none;
      }
    }
  }
}
